@page "/"
<h1>@Title</h1>

<ChildComponent @bind-ParentsTitle="Title" />

<button @onclick="UpdateTitle">Update Title</button>

@code {
    private string Title { get; set; } = "Hello, World!";

    private void UpdateTitle()
    {
        Title = "Hello, Blazor!";
    }
}

<!-- todo:


    criar página de cadastro de ferramenta,

    criar página de atribuição de ferramenta à funcionário

    criar página de visualização do status atual. de ferramenta por funcionário
    criar página de visualizaçao

    criar histórico da ferramenta
 -->
<!-- funcionário:
   Nome,

     cpf


-->
<!-- obra:
    nome,

 -->
<!-- empréstimo:
    data da retirada,
    locação/obra destino,
    Devolução,

 -->
