@page "/"
@page "/ListarFerramentas"

@using Blazorise.DataGrid
@using InfraEstrutura.Repositorios

@using Almocherifado.Application
@using Almocherifado.ServerHosted.Shared.Components

<Row>
    <Button Color="Color.Info"   Disabled="PodeAlocar()" @onclick="ShowModal">
        Alocar Ferramentas Selecionadas
    </Button>
</Row>

<FerramentasGrid @bind-FerramentasChecadas="FerramentasSelecionadas"></FerramentasGrid>


    <Modal @ref="modalRef"  >
        <ModalBackdrop />
        <ModalContent Size="ModalSize.Large" IsCentered="true">
            <ModalHeader>
                <ModalTitle>Employee edit</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <CadastrarImprestimo Ferramentas="FerramentasSelecionadas" />
                @*<Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Enter name..." />
                </Field>
                <Field>
                    <FieldLabel>Surname</FieldLabel>
                    <TextEdit Placeholder="Enter surname..." />
                </Field>*@
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    @code{
        List<Ferramenta> FerramentasSelecionadas = new();
        //[Inject] NavigationManager Navigation { get; set; }
        bool PodeAlocar()
        {
            return !(FerramentasSelecionadas?.Count > 0);
        }

        void AbrirModeal()
        {

        }

        private Modal modalRef;

        private void ShowModal()
        {
            modalRef.Show();
        }

        private void HideModal()
        {
            modalRef.Hide();
        }

        //protected override void OnInitialized()
        //{
        //    Navigation.NavigateTo("/fotos/Modelo de Responsabilidade de equipamentos.docx");
        //}

        //TODO: TERMINAR DE ERFATORAR AS RELAÇÕES DE BINDING ENTRE O COMPONENTE DE FERRAMENTAS GRID E ESTA PAGINA

        //TODO: CONTINUAR CRIANDO MODAL PARA COMPLEMENTAR O TERMO DE RESPONSABILIDADE ENTRE O CADASTRO DO EMPRESTIMO E A FINALIZAÇÃO.

        //PRIMEIRO ESCOLHER FERRAMENTAS //DEPOIS EM MODAL PREENCHER FORMULRIO // E ENTÃO EM NOVO CAMPO INSERIR FORMULARIO E FINALIZAR EMPRESTIMO
}
