
<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            
                <a href="Identity/Account/Manage">Olá, @context.User.Identity.Name!</a>
                <button type="submit" class="nav-link  btn btn-link btn-light d-inline">Log out</button>
            
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" class="mt-2 mx-2 btn btn-link">Register</a>
        <a href="Identity/Account/Login" class="mt-2 mx-2 btn btn-link">Log in</a>
    </NotAuthorized>
</AuthorizeView>
