@inherits LayoutComponentBase



    <Row>
        <Column ColumnSize="ColumnSize.Is2">
            <LocalSideBar ></LocalSideBar>
        </Column>
        <Column>


            <div class="main">
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>

        </Column>
    </Row>


