@inherits LayoutComponentBase
<Layout Class="bg-light">
    <Layout Sider="true">
        <LayoutSider>
            <LayoutSiderContent>
                <LocalSideBar />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed="true" Class="bg-light" >
                <div class="d-block float-right  justify-content-end">
                    <LoginDisplay />
                </div>
            </LayoutHeader>
            <LayoutContent>
                <Container Padding="Padding.Is2" Margin="Margin.Is2">
                    @Body
                </Container>
            </LayoutContent>
        </Layout>
    </Layout>
</Layout>





