

<div class="row my-5 d-flex gx-3 justify-content-evenly">
    <div class="col-3">
        <div>*Patrimônio</div>
        <input @oninput="OnPatrimonioChage" type="number" step="1" class="form-control">
    </div>


    <div class="col-4 d-flex flex-column justify-content-between">


        <p><b>Ferramenta:</b>@ferramentaAtual?.Nome</p>
        <p><b>Marca:</b>@ferramentaAtual?.Marca</p>
        <p class="mb-0"><b>Modelo:</b>@ferramentaAtual?.Modelo</p>
        1
    </div>

    <div class="col-5  d-flex flex-column justify-content-between">

        @if (ferramentaAtual is null)
        {
            <h4 class="text-info fw-bold">Informe o Número do patrimônio</h4>
        }
        else
        {
            @if (FeramentaDisponivel)
            {
                @MensagemFerramentaDisponível
                <h4 class="text-success fw-bold">Disponível para alocação</h4>
                <button class="btn btn-outline-info w-75" @onclick="() => FerramentaSetada()">@TextoBtnConfrimacao</button>
            }
            else
            {
                @MensagemFerramentaInDisponível
                <h4 class="text-danger fw-bold">Ferramenta Alocada</h4>
                <p><b>Responsável:</b>@AlocacaoAtual?.Responsavel.Nome</p>
                <p><b>AlocadaEm:</b>@AlocacaoAtual?.DataAlocacao.ToShortDateString()</p>
            }

        }

    </div>



</div>



@code{
    [Parameter]
    public RenderFragment MensagemFerramentaDisponível { get; set; } =
    @<h4 class="text-success fw-bold">Disponível para alocação</h4>;


[Parameter]
public RenderFragment MensagemFerramentaInDisponível { get; set; } =
    @<h4 class="text-danger fw-bold">Ferramenta Alocada</h4>;

    [Parameter] public string TextoBtnConfrimacao { get; set; } = "Adicionar Ferramenta";
}
