@code{
    [Parameter] public Entities.Alocacao Alocacao { get; set; }
    [Parameter] public bool EmManutencao { get; set; }
    [Parameter] public EventCallback<bool> OnChange { get; set; }

    protected override void OnParametersSet()
    {
        if (Alocacao is null)
        {
            System.Diagnostics.Debugger.Break();
        }
    }
}

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" @onchange="(args) => OnChange.InvokeAsync((bool)args.Value).Wait() " checked="@EmManutencao" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Ferramenta Em Manutenção</label>
</div>

<div>
    <p class="my-0">
        <b style="font-size: 12px;"> Responsável:</b>
    </p>
    <span class="fw-normal" style="font-size: 12px;">@Alocacao.Responsavel.Nome</span>
</div>
<div>
    <p class="my-0">
        <b style="font-size: 12px;"> Alocada Em:</b>
    </p>
    <span class="fw-normal" style="font-size: 12px;">
        @Alocacao.ContratoLocacao
    </span>
</div>
