@using Newtonsoft.Json


<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnDesktop">Responsável:</FieldLabel>
    <FieldBody>
        <Select @bind-SelectedValue="ParentsCPF"  @onchange="UpdateParentsCPF"  TValue="FuncionarioModel">
            @if (FuncionariosSource is not null)
            {
                @foreach (var funcionario in FuncionariosSource)
                {
                    <SelectItem TValue="FuncionarioModel" Value="funcionario">
                        <div> @funcionario.Nome</div>
                        <small>cpf: @funcionario.CPF</small>
                    </SelectItem>
                }
            }
        </Select>
        
    </FieldBody>
</Field>


@code {
    [Parameter] public FuncionarioModel ParentsCPF { get; set; }
    [Parameter] public EventCallback<FuncionarioModel> ParentsCPFChanged  { get; set; }
    
    [Parameter] public List<FuncionarioModel> FuncionariosSource { get; set; }


    private async Task UpdateParentsCPF(ChangeEventArgs args)
    {
        var model = args.Value;

        await ParentsCPFChanged.InvokeAsync( Newtonsoft.Json.JsonConvert.DeserializeObject<FuncionarioModel>(model.ToString()));
    }

}
