
<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is4.OnDesktop">Responsável:</FieldLabel>
    <FieldBody>
        <Select SelectedValue="ParentsCPF"  @onchange="UpdateParentsCPF" TValue="string">
            @if (FuncionariosSource is not null)
            {
                @foreach (var funcionario in FuncionariosSource)
                {
                    <SelectItem TValue="string" Value="funcionario.CPF">
                        <div> @funcionario.Nome</div>
                        <small>cpf: @funcionario.CPF</small>
                    </SelectItem>
                }
            }
        </Select>
        
    </FieldBody>
</Field>


@code {
    [Parameter] public string ParentsCPF { get; set; }
    [Parameter] public EventCallback<string> ParentsCPFChanged  { get; set; }
    
    [Parameter] public List<Funcionario> FuncionariosSource { get; set; }

    private async Task UpdateParentsCPF(ChangeEventArgs args)
    {
        await ParentsCPFChanged.InvokeAsync(args.Value.ToString());
    }

}
