@page "/"
@page "/{Route}"
@inject NavigationManager navMan
@using Almocherifado.UI.Components.Ferramentas
@using Syncfusion.Blazor.Inputs
@using Almocherifado.UI.Components
@using Syncfusion.Blazor.Inputs
@using Almocherifado.UI.Components.Funcionarios
@using Almocherifado.UI.Components.Alocacao

@*<ListarFerramentas></ListarFerramentas>*@

@*<CadastrarFerramentas @ref="refCadastro">

        <Uploader>
            <Uploader FotosChanged="@((x) => OnFotosChanged(x))"></Uploader>
        </Uploader>

    </CadastrarFerramentas>*@





<DevolverFerramenta></DevolverFerramenta>


@code{
    CadastrarFerramentas refCadastro;

    [Parameter] public string Route { get; set; }
    //ElementReference cadastrarFerramenta { get; set; }
    void OnFotosChanged(IEnumerable<UploadFiles> value)
    {
        refCadastro.ChangeFotos(value);
    }

    CadastrarFuncionario refCadastrofUNCIONARIO;

    //ElementReference cadastrarFerramenta { get; set; }
    void OnFotosChanged2(IEnumerable<UploadFiles> value)
    {
        refCadastrofUNCIONARIO.ChangeFotos(value);
    }
}



@switch (Route)
{
    case "":
        <Almocherifado.UI.Components.Inicio></Almocherifado.UI.Components.Inicio>
        break;
    case "CadastrarFerramenta":
        <CadastrarFerramentas @ref="refCadastro">

            <Uploader>
                <Uploader Multiple="true" FotosChanged="@((x) => OnFotosChanged(x))"></Uploader>
            </Uploader>

        </CadastrarFerramentas>
        break;

    case "ListarFerramenta":
        <ListarFerramentas />
        break;
    case "CadastrarFuncionario":
        <CadastrarFuncionario @ref="refCadastrofUNCIONARIO">
            <Uploader>
                <Uploader Multiple="false" FotosChanged="@((x) => OnFotosChanged2(x))"></Uploader>
            </Uploader>
        </CadastrarFuncionario>

        break;
    case "ListarFuncionario":
        <ListarFuncionarios></ListarFuncionarios>
        break;
    case "AlocarFerramenta":
        <Almocherifado.UI.Components.Alocacao.AlocarFerramenta />
        break;
    case "DevolverFerramenta":
        <h1>Nada aqui ainda</h1>
        break;
    default:
        <h1>Rota não encontrada</h1>
        break;
}

