@page "/"
@page "/{Route}"
@inject NavigationManager navMan
@using Almocherifado.UI.Components.Ferramentas
@using Syncfusion.Blazor.Inputs
@using Almocherifado.UI.Components
@using Syncfusion.Blazor.Inputs

<CadastrarFerramentas @ref="refCadastro">

    <Uploader>
        <Uploader  FotosChanged="@((x) => OnFotosChanged(x))" ></Uploader>
    </Uploader>

</CadastrarFerramentas>


@code{
    CadastrarFerramentas refCadastro;

    [Parameter] public string Route { get; set; }
    //ElementReference cadastrarFerramenta { get; set; }
    void OnFotosChanged(IEnumerable<UploadFiles> value)
    {
        refCadastro.ChangeFotos(value);
    }
}







@*@switch (Route)
                          {
                          case "" :
            <Almocherifado.UI.Components.Inicio></Almocherifado.UI.Components.Inicio>
            break;
        case "CadastrarFerramenta":
            <CadastrarFerramentas />
            break;

        case "ListarFerramenta":
            <ListarFerramentas />
            break;
        case "CadastrarFuncionario":
            <h1>Nada aqui ainad</h1>
            break;
        case "ListarFuncionario":
            <Almocherifado.UI.Components.Funcionarios.ListarFuncionarios></Almocherifado.UI.Components.Funcionarios.ListarFuncionarios>
            break;
        case "AlocarFerramenta":
            <Almocherifado.UI.Components.Alocacao.AlocarFerramenta />
            break;
        case "DevolverFerramenta":
            <h1>Nada aqui ainda</h1>
            break;
        default:
            <h1>Rota não encontrada</h1>
            break;
    }*@

