@page "/"

@using Almocherifado.ServerHosted.Shared.FormularioCadastroImprestimo

<EditForm Model="Model">
    <FluentValidationValidator />
    <DataDeEntrega @bind-Data="Model.entrega" />
    <ValidationMessage For="() =>Model.entrega"></ValidationMessage>

    <p>@Model.Funcionario</p>

    <FuncionarioSelect FuncionariosSource="Funcionarios" @bind-ParentsCPF="Model.Funcionario" />
    <ValidationMessage For="() =>Model.Funcionario"></ValidationMessage>

    <ObraInput  @bind-Obra="Model.Obra"/>
    <ValidationMessage For="() =>Model.Obra"></ValidationMessage>
    
    <TermoResponsabilidade  @bind-Url="@Model.TermoResponsabilidade" />
    <ValidationMessage For="() =>Model.TermoResponsabilidade"></ValidationMessage>

    <Button Type="ButtonType.Submit" Color="Color.Primary">Alocar Ferramentas</Button>
    <Button Type="ButtonType.Reset" Color="Color.Light">Cancelar</Button>

</EditForm>


<p>@Model.TermoResponsabilidade</p>

@code {
    EmprestimoModel Model = new() { entrega = DateTime.Now };
    [Inject] IFuncionariosRepository repository { get; set; }
    public List<FuncionarioModel> Funcionarios { get; set; }
    [Inject] IMapper mapper { get; set; }

    protected override void OnInitialized()
    {
        var funcionarios = repository.GetFuncionarios().ToList();
        Funcionarios = mapper.Map<List<FuncionarioModel>>(funcionarios) ;
    }

    void OnValidSubmit()
    {
        var emprestimo = mapper.Map<Ferramenta>(Model);
        //repository.AdicionarFerramenta(ferramenta);

        //Directory.CreateDirectory(Path.GetDirectoryName(environment.WebRootPath + ferramentamodel.FotoUrl));
        //File.WriteAllBytes(environment.WebRootPath + ferramentamodel.FotoUrl, fileContent);

        //mensagem = "Ferrramenta Criada Com sucesso!";
        //Cor = Color.Success;
        //AlertRef.Show();
    }

}
