<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">Menu</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>Main</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="" Title="Home">
                    <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> mailSidebarSubItems.Toggle(isOpen)" IsShow="true">
                    <Icon Name="IconName.Users" Margin="Margin.Is3.FromRight" />Funcionários
                </SidebarLink>
                <SidebarSubItem @ref="mailSidebarSubItems" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="AdicionarFuncionario">Cadastrar</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="ListarFuncionarios">Listar</SidebarLink>
                    </SidebarItem>
                    @* other subitems *@
                </SidebarSubItem>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> appsSidebarSubItems.Toggle(isOpen)" IsShow="true">
                    <Icon Name="IconName.Wrench" Margin="Margin.Is3.FromRight" />Ferramentas
                </SidebarLink>
                <SidebarSubItem @ref="appsSidebarSubItems" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="AdicionarFuncionario">Cadastrar</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="apps/todo">Listar</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="apps/todo">Histórico</SidebarLink>
                    </SidebarItem>
                </SidebarSubItem>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}