
a{
    text-decoration:none;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
}

.Menu-Item {
    font-family: Inter;
    color: white;
    cursor:pointer;
    
}
Menu-Item li {
    color: white;
}

.inverted {
    transform: rotate(180deg);
}

.icon-container {
    min-width: 30px;
}

h5 {
    font-size: .9em !important;
    vertical-align: middle;
    margin: auto auto;
}

a {
    font-size: .9em !important;
}     

@media only screen and (min-width : 1224px) {
    h5 {
        font-size: 1.25em !important;
    }
    ul > div > a {
        font-size: 1.25em !important;
    }
}

