   thead{
            background-color: #05374D;
            color: white;
        }

        th{
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            
        }
/*img {
    
    object-fit: contain;
    width:100px;
    height:100px;
}*/