@using Almocherifado.UI.Components.Forms
@using Syncfusion.Blazor.Inputs

@using System.IO

<div id="inputFile" class="mb-3 w-100">
    <label class="mb-5"> <b>*</b>Fotos(s)</label>

    <a data-bs-toggle="popover" data-bs-placement="right"
       data-bs-content="<div class='bg-dark text-white' style='width: 142px;font-size: 10px;'>'Imagens do tipo .jpg, .gif e .png até Xmb são suportadas.'</div>" data-bs-trigger="hover">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM8.2125 7.54125H6.5625C6.525 5.18375 8.35 4.375 10.0075 4.375C11.7537 4.375 13.3488 5.2875 13.3488 7.175C13.3488 8.525 12.555 9.1675 11.7938 9.74625C10.8725 10.445 10.5312 10.7063 10.5312 11.6038V12.0475H8.89625L8.8875 11.4688C8.84 10.31 9.50625 9.59625 10.3475 8.985C11.085 8.43 11.5538 8.065 11.5538 7.27125C11.5538 6.24 10.7688 5.81125 9.91125 5.81125C8.785 5.81125 8.21375 6.565 8.21375 7.54125H8.2125ZM9.77625 15.595C9.04625 15.595 8.515 15.1025 8.515 14.4362C8.515 13.7463 9.04625 13.2613 9.7775 13.2613C10.5387 13.2613 11.0625 13.7463 11.0625 14.4362C11.0625 15.1025 10.5375 15.595 9.77625 15.595Z" fill="#C4C4C4" />
        </svg>
    </a>

    <div ID="DropArea">
        Selecione ou solte aqui a(s) imagem(s)
    </div>


    @*<InputFile OnChange="@LoadFiles" multiple />*@


    <SfUploader AllowMultiple="Multiple" ID="UploadFiles" AutoUpload=true DropArea="#DropArea"
                    AllowedExtensions=".jpg">
            <UploaderEvents  ValueChange="@OnChange">
            </UploaderEvents>
        </SfUploader>
</div>
